# Master Data Merging

In [51]:
# Import libraries
import pandas as pd

# Read in datasets

## Old API Amazon Reviews

In [52]:
# Read in datasets
reviews_old_API_data = pd.read_csv('processed_reviews_old_API_data.csv')

In [53]:
# Preview data
reviews_old_API_data

,reviewId,asin,date_cleaned,username,title,keyword,verified,rating_cleaned,text,train_test,data_source
0,R18NC04B57B1WM,B09LRY9C88,2022-04-08,Tina Adcox,awesome!,Movie,True,5.0,great movie,test,old data
1,R1MPI8QQ1R4QZY,B09LRY9C88,2022-04-08,Amazon Customer,boring and ridiculous!,Movie,True,1.0,The plot. Gave up after 20 minutes. Does anyon...,test,old data
2,R31HH2207Z6W8A,B09LRY9C88,2022-04-08,Hydman,Cool,Movie,True,5.0,Greatovie but over hyped,test,old data
3,R36RICDJG8MPW1,B09LRY9C88,2022-04-08,M. Fields,Great movie,Movie,True,5.0,Do buy this film. It really is great but don't...,test,old data
4,R3BBWMNCFP15OM,B09LRY9C88,2022-04-08,Bama Road Rage,I was never a fan of the spider-man franchise,Movie,True,2.0,...and I'm still not a fan after watching this...,test,old data
...,...,...,...,...,...,...,...,...,...,...,...
1115232,R2R6K97W4CDB3X,B08C2X57ZH,2019-09-16,Claudio,NaN,best Watch,True,5.0,"L'orologio è molto bello, non solo in consider...",test,old data
1115233,R1BNSB3WLR7SGQ,B08C2X57ZH,2019-09-15,marco,NaN,best Watch,True,5.0,"AMAZON professionali come sempre, sono piacevo...",test,old data
1115234,R1R10QW28I1RIE,B08C2X57ZH,2019-09-07,Anna,NaN,best Watch,True,5.0,Very impressed with the quality and look would...,test,old data
1115235,R2FF892TZK2DZO,B08C2X57ZH,2019-08-14,Cliente Amazon,NaN,best Watch,True,4.0,Bello.ma da utilizzare senza impegno,test,old data
1115236,R1XVC1DHDEOQK8,B08C2X57ZH,2019-08-06,Le Nouail,NaN,best Watch,True,4.0,Pour offrir à mon copain,test,old data

## New API Amazon Reviews

In [54]:
# Read in datasets
reviews_new_API_data = pd.read_csv('processed_reviews_new_API_data.csv')

In [55]:
# Preview data
reviews_new_API_data

,reviewId,asin,date_cleaned,username,title,keyword,verified,rating_cleaned,text,train_test,data_source
0,RU2LN4GFJTIOA,B0CN8KSFF2,2024-07-10,Jenny Sheline,Great personalized pens at a great price!,NaN,True,5.0,"Much nicer than expected, very smooth when wri...",test,new data
1,R7JKFNZ7GKUZ9,B0CN8KSFF2,2024-06-25,Amazon Customer,"Beautiful Pens, more than expected",NaN,True,5.0,The pen is beautiful. The customize lettering...,test,new data
2,R1BMFBC78IWMEV,B0CN8KSFF2,2024-05-24,Maria,Great for the price,NaN,True,5.0,I am still getting my business off the ground ...,test,new data
3,RA2Z63BT6RUSZ,B0CN8KSFF2,2024-06-12,Princess,Overjoyed,NaN,True,4.0,as a part of my daughter-in-law‘s birthday gif...,test,new data
4,R21W2492GLLIT8,B0CN8KSFF2,2024-05-08,chrissy,Garbage,NaN,True,5.0,They are cute but the actual pen breaks so easily,test,new data
...,...,...,...,...,...,...,...,...,...,...,...
3083,R3V889SFLL9UGW,B005CVXFP4,2023-04-15,Sara leonard,Wrist bands,NaN,True,NaN,Used for St. Patty Day party. Worked like they...,test,new data
3084,R3DC73CMBHYGN3,B005CVWZD2,2022-10-26,A'me M.,Perfect for our MEAD event,NaN,True,NaN,Worked great for age verified bands for our on...,test,new data
3085,R2W0HZT4NG8GS0,B005CVXFP4,2019-09-19,bobwrong,Exactly what I needed,NaN,True,NaN,I use over 21 bracelets every year for an even...,test,new data
3086,R3JDFJDBHU6B3W,B06XS3RTB5,2023-04-25,Carmen,Very easy to take off,NaN,True,NaN,They are good for the entrance but not for alc...,test,new data
3087,R2ZVSDM56VBJMO,B005CVXFP4,2024-04-14,michael mongelluzzo,Adhesive tab,NaN,True,NaN,Band tears when removing the tab for the adhes...,test,new data

## Merging Old and New API Amazon Reviews

In [56]:
# Concatenate the dataframes
all_reviews_old_and_new = pd.concat([reviews_old_API_data, reviews_new_API_data], ignore_index=True)

In [57]:
# Preview data
all_reviews_old_and_new

,reviewId,asin,date_cleaned,username,title,keyword,verified,rating_cleaned,text,train_test,data_source
0,R18NC04B57B1WM,B09LRY9C88,2022-04-08,Tina Adcox,awesome!,Movie,True,5.0,great movie,test,old data
1,R1MPI8QQ1R4QZY,B09LRY9C88,2022-04-08,Amazon Customer,boring and ridiculous!,Movie,True,1.0,The plot. Gave up after 20 minutes. Does anyon...,test,old data
2,R31HH2207Z6W8A,B09LRY9C88,2022-04-08,Hydman,Cool,Movie,True,5.0,Greatovie but over hyped,test,old data
3,R36RICDJG8MPW1,B09LRY9C88,2022-04-08,M. Fields,Great movie,Movie,True,5.0,Do buy this film. It really is great but don't...,test,old data
4,R3BBWMNCFP15OM,B09LRY9C88,2022-04-08,Bama Road Rage,I was never a fan of the spider-man franchise,Movie,True,2.0,...and I'm still not a fan after watching this...,test,old data
...,...,...,...,...,...,...,...,...,...,...,...
1118320,R3V889SFLL9UGW,B005CVXFP4,2023-04-15,Sara leonard,Wrist bands,NaN,True,NaN,Used for St. Patty Day party. Worked like they...,test,new data
1118321,R3DC73CMBHYGN3,B005CVWZD2,2022-10-26,A'me M.,Perfect for our MEAD event,NaN,True,NaN,Worked great for age verified bands for our on...,test,new data
1118322,R2W0HZT4NG8GS0,B005CVXFP4,2019-09-19,bobwrong,Exactly what I needed,NaN,True,NaN,I use over 21 bracelets every year for an even...,test,new data
1118323,R3JDFJDBHU6B3W,B06XS3RTB5,2023-04-25,Carmen,Very easy to take off,NaN,True,NaN,They are good for the entrance but not for alc...,test,new data
1118324,R2ZVSDM56VBJMO,B005CVXFP4,2024-04-14,michael mongelluzzo,Adhesive tab,NaN,True,NaN,Band tears when removing the tab for the adhes...,test,new data

In [58]:
# Save dataset
all_reviews_old_and_new.to_csv('test_set.csv', index=False)
print('Saved as CSV.')

Saved as CSV.

## Attribute = 'Sustainability'

In [59]:
# Read in datasets
synth_sustainability_positive = pd.read_csv('synthetic_data_sustainability_positive.csv')
synth_sustainability_negative = pd.read_csv('synthetic_data_sustainability_negative.csv')

In [60]:
# Change column names and preview data
synth_sustainability_positive.rename(columns={
    'attribute': 'attr_sustainability',
    'attribute_sentiment': 'attr_sentiment_sustainability'}, inplace=True)

synth_sustainability_positive

,amazon_review,attr_sustainability,attr_sentiment_sustainability
0,This product is a game-changer for those looki...,1,1
1,I love how this product is crafted from renewa...,1,1
2,I am thrilled with this product's eco-friendly...,1,1
3,I am impressed by this product's commitment to...,1,1
4,This product is a game-changer for those looki...,1,1
...,...,...,...
1495,I recently purchased a beautifully designed ec...,1,1
1496,I recently purchased a beautifully designed ec...,1,1
1497,I recently purchased an amazing eco-friendly c...,1,1
1498,I recently purchased a beautifully designed an...,1,1
1499,I recently purchased an amazing eco-friendly c...,1,1

In [61]:
# Change column names and preview data
synth_sustainability_negative.rename(columns={
    'attribute': 'attr_sustainability',
    'attribute_sentiment': 'attr_sentiment_sustainability'}, inplace=True)

synth_sustainability_negative

,amazon_review,attr_sustainability,attr_sentiment_sustainability
0,This product is extremely wasteful and environ...,1,-1
1,This product's high-impact production methods ...,1,-1
2,This product's manufacturing process is highly...,1,-1
3,This product's manufacturing process is highly...,1,-1
4,This product's manufacturing process is highly...,1,-1
...,...,...,...
1495,This purportedly eco-friendly consumer product...,1,-1
1496,"This eco-friendly consumer product, marketed a...",1,-1
1497,"This allegedly eco-friendly consumer product, ...",1,-1
1498,"This eco-friendly consumer product, marketed a...",1,-1
1499,"This supposedly eco-friendly consumer product,...",1,-1

# Training Data Merging

In [62]:
# Randomly select 1500 rows
sampled_reviews = all_reviews_old_and_new.sample(n=3000, random_state=42)

# Keep only the 'text' column
sampled_reviews = sampled_reviews[['text']]

# Rename columns
sampled_reviews.rename(columns={'text': 'amazon_review'}, inplace=True)

# Preview data
sampled_reviews

                                            amazon_review
404037  Für wenig Geld eine tolle Smartwatch. Absolut ...
191720  I really liked the look of this watch, very co...
781512  Not for use on Keto. I bought these to replace...
97319   UPDATED: It's been a few months with intermitt...
565763  just thought how well off we really are compar...
...                                                   ...
665628                                 Perfect A+++++++++
533064  Excellent! Eye opening - must see it to unders...
153830  Comfortable and lightweight. My foot is kinda ...
976158  This game is super fun and pretty easy to lear...
409002  They are super bright and colorful. Took a lit...

[3000 rows x 1 columns]

In [63]:
# Add attr columns with neutral values
sampled_reviews['attr_sustainability'] = 0
sampled_reviews['attr_sentiment_sustainability'] = 0

# Preview data
sampled_reviews

,amazon_review,attr_sustainability,attr_sentiment_sustainability
404037,Für wenig Geld eine tolle Smartwatch. Absolut ...,0,0
191720,"I really liked the look of this watch, very co...",0,0
781512,Not for use on Keto. I bought these to replace...,0,0
97319,UPDATED: It's been a few months with intermitt...,0,0
565763,just thought how well off we really are compar...,0,0
...,...,...,...
665628,Perfect A+++++++++,0,0
533064,Excellent! Eye opening - must see it to unders...,0,0
153830,Comfortable and lightweight. My foot is kinda ...,0,0
976158,This game is super fun and pretty easy to lear...,0,0
409002,They are super bright and colorful. Took a lit...,0,0

In [64]:
# Concatenate the dataframes
train_set_sustainability = pd.concat([synth_sustainability_positive, synth_sustainability_negative, sampled_reviews], ignore_index=True)

In [65]:
# Preview data
train_set_sustainability

,amazon_review,attr_sustainability,attr_sentiment_sustainability
0,This product is a game-changer for those looki...,1,1
1,I love how this product is crafted from renewa...,1,1
2,I am thrilled with this product's eco-friendly...,1,1
3,I am impressed by this product's commitment to...,1,1
4,This product is a game-changer for those looki...,1,1
...,...,...,...
5995,Perfect A+++++++++,0,0
5996,Excellent! Eye opening - must see it to unders...,0,0
5997,Comfortable and lightweight. My foot is kinda ...,0,0
5998,This game is super fun and pretty easy to lear...,0,0
5999,They are super bright and colorful. Took a lit...,0,0

In [66]:
# Save dataset
train_set_sustainability.to_csv('train_set_sustainability.csv', index=False)
print('Saved as CSV.')

Saved as CSV.